  <!-- start: Footer Menu -->
<div id="footer-menu" class="hidden-tablet hidden-phone">

  <!-- start: Container -->
  <div class="container">
    
    <!-- start: Row -->
    <div class="row">

      <!-- start: Footer Menu Logo -->
      <div class="span2">
        <div id="footer-menu-logo">
          <a href="#"><%= image_tag "logo-footer-menu.png", alt: "footer" %></a>
        </div>
      </div>
      <!-- end: Footer Menu Logo -->

      <!-- start: Footer Menu Links-->
      <div class="span9">
        
        <div id="footer-menu-links">
          <div class="span3">
            <ul>
              <li>
                <a><label>What are you waiting for?</label></a>
            </li>
            </ul>
          </div>
            <%= link_to "Get Started!", "#", class: "btn btn-large btn-success" %>
        </div>
        
      </div>
      <!-- end: Footer Menu Links-->

      <!-- start: Footer Menu Back To Top -->
      <div class="span1">
          
        <div id="footer-menu-back-to-top">
          <a href="#"></a>
        </div>
      
      </div>
      <!-- end: Footer Menu Back To Top -->
    
    </div>
    <!-- end: Row -->
    
  </div>
  <!-- end: Container  -->  

</div>  
<!-- end: Footer Menu -->

<!-- start: Footer -->
<div id="footer">
  
  <!-- start: Container -->
  <div class="container">
    
    <!-- start: Row -->
    <div class="row">

      <!-- start: About -->
      <div class="span3">
        
        <h3>About Us</h3>
        <p>
          Portfoliozer is brought to you by the guys at <%= link_to "<GroundZeroLabs>", "http://gz-labs.com" %>.<br/>
          * We like to be the frontiers of software development, but we are nothing more then a bunch of kids coding!<br/>
          * We love to build software without restrictions or hassles.<br/>
          * We have one goal and one only and that is to build high quality software.<br/>
        </p>
          
      </div>
      <!-- end: About -->

      <!-- start: Photo Stream -->
      <div class="span3">
        
        <h3>We are here!</h3>
        <div id="small-map-container"><a href="contact.html"></a></div>
          <iframe id="small-map" width="210" height="210" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=san+diego&amp;sll=46.216667,7.816667&amp;sspn=0.087064,0.176468&amp;t=m&amp;g=embd&amp;ie=UTF8&amp;hq=&amp;hnear=San+Diego,+California&amp;ll=32.715329,-117.157255&amp;spn=0.21158,0.352936&amp;z=12&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=san+diego&amp;sll=46.216667,7.816667&amp;sspn=0.087064,0.176468&amp;t=m&amp;g=embd&amp;ie=UTF8&amp;hq=&amp;hnear=San+Diego,+California&amp;ll=32.715329,-117.157255&amp;spn=0.21158,0.352936&amp;z=12" style="color:#0000FF;text-align:left">View Larger Map</a></small>
        </div>
      <!-- end: Photo Stream -->

      <div class="span6">
      
        <!-- start: Follow Us -->
        <h3>Follow Us!</h3>
        <ul class="social-grid">
          <li>
            <div class="social-item">        
              <div class="social-info-wrap">
                <div class="social-info">
                  <div class="social-info-front social-twitter">
                    <a href="http://twitter.com"></a>
                  </div>
                  <div class="social-info-back social-twitter-hover">
                    <a href="http://twitter.com"></a>
                  </div>  
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="social-item">        
              <div class="social-info-wrap">
                <div class="social-info">
                  <div class="social-info-front social-facebook">
                    <a href="http://facebook.com"></a>
                  </div>
                  <div class="social-info-back social-facebook-hover">
                    <a href="http://facebook.com"></a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="social-item">        
              <div class="social-info-wrap">
                <div class="social-info">
                  <div class="social-info-front social-dribbble">
                    <a href="http://dribbble.com"></a>
                  </div>
                  <div class="social-info-back social-dribbble-hover">
                    <a href="http://dribbble.com"></a>
                  </div>  
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="social-item">        
              <div class="social-info-wrap">
                <div class="social-info">
                  <div class="social-info-front social-flickr">
                    <a href="http://flickr.com"></a>
                  </div>
                  <div class="social-info-back social-flickr-hover">
                    <a href="http://flickr.com"></a>
                  </div>  
                </div>
              </div>
            </div>
          </li>
        </ul>
        <!-- end: Follow Us -->
      
        <!-- start: Newsletter -->
        <form id="newsletter">
          <h3>Newsletter</h3>
          <p>Please leave us your email</p>
          <label for="newsletter_input">@:</label>
          <input type="text" id="newsletter_input"/>
          <input type="submit" id="newsletter_submit" value="submit">
        </form>
        <!-- end: Newsletter -->
      
      </div>
      
    </div>
    <!-- end: Row -->  
    
  </div>
  <!-- end: Container  -->

</div>
<!-- end: Footer -->

<!-- start: Copyright -->
<div id="copyright">

  <!-- start: Container -->
  <div class="container">
  
    <div class="sixteen columns">
      <p>
        &copy; 2012 Developed + Designed by GroundZeroLabs-San Diego <%=image_tag "poland2.png", alt: "Poland", style: "margin-top:-4px"%>
      </p>
    </div>

  </div>
  <!-- end: Container  -->
  
</div>  
<!-- end: Copyright -->
