<!-- start: About Member -->
<div class="span3">
  <div class="avatar view-team member_height">
    <%= image_tag "gz/jake.jpg", alt: "team member", class: "member_image_height"%>
    <div class="mask">
      <h2>About Me</h2>
      <p>
        Hey guys this is Jake Pham!
        <b>Nickname:</b> Jake the Snake, The Snake, Fucken Jake<br/>
        Currently working at Northrop Grumman!  Graduated
        from UC San Diego with CS. Fucken Jake!<br/>
        <br/>
        <%= link_to "My Personal Page", "https://www.facebook.com/jake.pham", class: "info" %>
      </p>
    </div>
  </div>
  <div class="clear"></div>
  <div class="team-name">Jake Pham <span> / Grunt, GroundZeroLabs</span></div>
  <div class="social_profiles">
    <ul class="social-bookmarks">
      <li class="facebook"><a href="">facebook</a></li>
      <li class="linkedin"><a href="#">linkedin</a></li>
      <li class="twitter"><a href="#">twitter</a></li>
    </ul>
  </div>  
</div>
<!-- end: About Member -->
