<!-- start: About Member -->
<div class="span3">
  <div class="avatar view-team member_height">
    <%= image_tag "gz/mike.jpg", alt: "team member", class: "member_image_height"%>
    <div class="mask">
      <h2>About Me</h2>
      <p>
        Hey guys this is Michael Luong!
        <b>Nickname:</b> Micky, Mio<br/>
        Currently working at SAIC!  Graduated
        from UC San Diego with CS. On my knees again without kneepads!<br/>
        <br/>
        <%= link_to "My Personal Page", "https://www.facebook.com/mluong517", class: "info" %>
      </p>
    </div>
  </div>
  <div class="clear"></div>
  <div class="team-name">Michael Luong <span> / Monk, GroundZeroLabs</span></div>
  <div class="social_profiles">
    <ul class="social-bookmarks">
      <li class="facebook"><a href="">facebook</a></li>
      <li class="linkedin"><a href="#">linkedin</a></li>
      <li class="twitter"><a href="#">twitter</a></li>
    </ul>
  </div>  
</div>
<!-- end: About Member -->
