<!-- start: About Member -->
<div class="span3">
  <div class="avatar view-team member_height">
    <%= image_tag "gz/phu.jpg", alt: "team member", class: "member_image_height" %>
    <div class="mask">
      <h2>About Me</h2>
      <p>
        Hey guys this is Phu Phan!
        <b>Nickname:</b> John Connor, The Package<br/>
        Currently working at Sony Electronics!  Graduated
        from UC San Diego with CS. Time to deliver some package!<br/>
        More of <%= link_to "GroundZeroLabs", "http://www.gz-labs.com"%><br/>
        See me <%= link_to "Facebook", "https://www.facebook.com/phu.phan" %>.
      </p>
      <%= link_to "My Personal Page", "https://www.facebook.com/phu.phan", class: "info" %>
    </div>
  </div>
  <div class="clear"></div>
  <div class="team-name">Phu Phan <span> / Warrior, GroundZeroLabs</span></div>
  <div class="social_profiles">
    <ul class="social-bookmarks">
      <li class="facebook"><a href="">facebook</a></li>
      <li class="linkedin"><a href="#">linkedin</a></li>
      <li class="twitter"><a href="#">twitter</a></li>
    </ul>
  </div>  
</div>
<!-- end: About Member -->
