<!-- start: About Member -->
<div class="span3">
  <div class="avatar view-team member_height">
    <%= image_tag "gz/quy.jpg", alt: "team member", class: "member_image_height"%>
    <div class="mask">
      <h2>About Me</h2>
      <p>
        Hey guys this is ya boy Quy Phan!
        <b>Nickname:</b> YaBoyQuy, Weezy, The Rooster<br/>
        Currently working at Qualcomm Labs doing exciting things in the software world!  Graduated
        from UC San Diego with CS. Back to coding!<br/>
        <br/>
        <%= link_to "My Personal Page", "http://www.yaboyquy.com", class: "info" %>
      </p>
    </div>
  </div>
  <div class="clear"></div>
  <div class="team-name">Quy Phan <span> / King, GroundZeroLabs</span></div>
  <div class="social_profiles">
    <ul class="social-bookmarks">
      <li class="facebook"><%= link_to "facebook", "https://www.facebook.com/quyminhphan" %></li>
      <li class="linkedin"><%= link_to "linkedin", "http://www.linkedin.com/pub/quy-phan/26/261/272" %></li>
    </ul>
  </div>  
</div>
<!-- end: About Member -->
