<!-- start: About Member -->
<div class="span3">
  <div class="avatar view-team member_height">
    <%= image_tag "gz/tan.jpg", alt: "team member", class: "member_image_height"%>
    <div class="mask">
      <h2>About Me</h2>
      <p>
        Hey guys this is Tan Cao!
        <b>Nickname:</b> Penis Man<br/>
        Currently working at a corner around you!  Graduated
        from San Diego State with Finance. Back to my corner, all day err day!<br/>
        <br/>
        <%= link_to "My Personal Page", "https://www.facebook.com/tan.cao.940", class: "info" %>
      </p>
    </div>
  </div>
  <div class="clear"></div>
  <div class="team-name">Tan Cao <span> / Wizard, GroundZeroLabs</span></div>
  <div class="social_profiles">
    <ul class="social-bookmarks">
      <li class="facebook"><a href="">facebook</a></li>
      <li class="linkedin"><a href="#">linkedin</a></li>
      <li class="twitter"><a href="#">twitter</a></li>
    </ul>
  </div>  
</div>
<!-- end: About Member -->
