defaults: &defaults
  adapter: postgresql
  username: postgres
  password: 
  reconnect: true
  pool: 5
  wait_timeout: 5

development:
  database: portfoliolizer_development
  host: localhost
  <<: *defaults

test:
  database: portfoliolizer_test
  host: localhost
  <<: *defaults
  
production:
  database: portfoliolizer_prod
  host: localhost
  <<: *defaults